# macOS
.DS_Store

# direnv
.direnv/

# build artifacts
build/
build-bench/
*.o
*.a
*.so
*.dylib

# Nix build result
result
result-*

# npm
node_modules/
npm-debug.log

# docs
docs/build/
docs/.docusaurus/
docs/static/api/
docs/static/wasm/
